.note-filter {
  color: var(--foreground-secondary);
  max-width: 30rem;
  margin: 0 auto 1rem;
  display: flex;
  flex-wrap: wrap;
}

.note-filter ul {
  justify-content: center;
}

.note-filter li {
  margin: 0.75rem;
}

.note-filter button {
  margin: 0.5rem;
  font-size: 0.85rem;
  text-decoration: none;
  border: none;
  background-color: var(--accent-1);
  color: var(--foreground-secondary);
  height: 2rem;
  padding: 0 0.75rem;
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.note-filter button.active,
.note-filter button:hover {
  color: var(--foreground);
  background-color: var(--accent-2);
}

.note-filter svg {
  width: 1rem;
  height: 1rem;
}
