header {
  background-color: var(--background);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--accent-1);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left img {
  height: 2.125rem;
  width: 2.125rem;
  opacity: 0.3;
  vertical-align: top;
}

.nav-right {
  display: flex;
  align-items: center;
}

.auth-info {
  display: flex;
  align-items: center;
}

.greeting {
  color: var(--foreground);
  margin-right: 1rem;
}

.syncing {
  color: var(--foreground-secondary);
  margin-right: 0.6rem;
}

.syncing .fa-rotate,
.syncing .fa-check {
  color: var(--background);
  margin-top: 0.08rem;
}

.header-button {
  font-size: 1rem;
  border-radius: 0.375rem;
  height: 2.125rem;
  padding: 0 0.5rem;
  border: 1px solid var(--accent-2);
  color: var(--foreground);
  background-color: var(--accent-1);
}

.header-button:hover {
  background-color: var(--accent-2);
}

.auth-redirect-spinner {
  color: var(--foreground-secondary);
  height: 2.125rem;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  header {
    padding: 0.5rem;
  }

  .greeting {
    margin-right: 0.5rem;
  }

  .syncing {
    margin-right: 0.1rem;
  }
}
