header {
  padding: 0.5rem;
  background: var(--accent-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.headerLeft img {
  height: 2.5rem;
  width: 2.5rem;
  opacity: 0.5;
  vertical-align: top;
}

.headerRight {
  display: flex;
  align-items: center;
}

.authInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.greeting {
  color: var(--foreground);
}

.spinner,
.check {
  color: var(--foreground-secondary);
  width: 2.5rem;
  height: 2.5rem;
}

.spinner {
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.signOutButton {
  font-size: 1rem;
  border-radius: 2.5rem;
  height: 2.5rem;
  padding: 0 1rem;
  color: var(--foreground);
  background: var(--accent-3);
  border: none;
}

.signOutButton:hover {
  background: var(--accent-4);
}

@media (max-width: 768px) {
  header {
    margin-bottom: 1rem;
  }
}

.signInButton {
  height: 2.5rem;
  border-radius: 2.5rem;
  background: var(--accent-3);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  border: none;
  color: var(--foreground);
}

.gIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.signInButton:hover {
  background: var(--accent-4);
}
