header {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--accent-2);
  background-color: var(--accent-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header-left img {
  height: 2.25rem;
  width: 2.25rem;
  opacity: 0.5;
  vertical-align: top;
}

.header-right {
  display: flex;
  align-items: center;
}

.auth-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.greeting {
  color: var(--foreground);
}

.header-right svg {
  color: var(--foreground-secondary);
  width: 2.25rem;
  height: 2.25rem;
}

.spinner {
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-button {
  font-size: 1rem;
  border-radius: 0.5rem;
  height: 2.25rem;
  padding: 0 0.75rem;
  color: var(--foreground);
  background-color: var(--accent-2);
  border: 1px solid var(--accent-3);
}

.header-button:hover {
  background-color: var(--accent-3);
}

@media (max-width: 768px) {
  header {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
