.reset-password {
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: var(--foreground-secondary);
  transition: all 0.2s linear;
  text-decoration: underline;
}

.reset-password:hover {
  color: var(--foreground);
}

.reset-password-form {
  margin-top: 1rem;
  gap: 0.5rem;
  transition: all 0.2s linear;
}

.reset-password-email {
  width: 100%;
  color: var(--foreground);
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--accent-2);
  height: 2.125rem;
}

.reset-password-button {
  margin-top: 1.75rem;
  width: 100%;
  font-size: 1rem;
  color: var(--foreground);
  background-color: var(--accent-3);
  border: none;
  height: 2.125rem;
  border-radius: 1rem;
}

.reset-password-button:hover:not(:disabled) {
  background-color: var(--accent-4);
}
