.dropdown-menu {
  max-width: 15rem;
  position: absolute;
  top: 2.5rem;
  right: -1px;
  border: 1px solid var(--accent-2);
  border-radius: 0.5rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
  z-index: 1000;
  background-color: var(--accent-1);
}

.dropdown-menu.show {
  visibility: visible;
  opacity: 1;
}
