.noteBoardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
}

.noteBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 1.5rem;
  max-width: 80rem;
  width: 100%;
  min-width: 0;
}

.noNotes {
  text-align: center;
  color: var(--accent-3);
  max-width: 400px;
}

.noNotes svg {
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 0.2rem;
}

.noNotes h2 {
  margin-bottom: 0.5rem;
}

.noDragging {
  margin: 0 1rem 2rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--foreground-secondary);
}

.noDragging svg {
  margin-right: 0.25rem;
  height: 12px;
  width: 12px;
  color: rgb(var(--red));
}

@media (max-width: 768px) {
  .note-board-wrapper {
    margin: 1.5rem 0;
  }

  .noteBoard {
    margin: 0 1rem;
  }
}
