:root {
  --rose: 255, 85, 85;
  --cyan: 139, 233, 253;
  --green: 80, 250, 123;
  --orange: 255, 184, 108;
  --pink: 255, 121, 198;
  --purple: 189, 147, 249;
  --red: 255, 85, 85;
  --yellow: 241, 250, 140;
  --grey: 38, 43, 54;
  --background: rgb(15, 17, 21);
  --foreground: rgb(225, 228, 234);
  --foreground-secondary: rgb(106, 120, 149);
  --accent-1: rgb(21, 24, 30);
  --accent-2: rgb(30, 34, 42);
  --accent-3: rgb(38, 43, 54);
  --accent-4: rgb(47, 53, 66);
  --accent-5: #666;
  --accent-white-alpha-1: rgba(255, 255, 255, 0.05);
  --accent-white-alpha-2: rgba(255, 255, 255, 0.1);
  --accent-white-alpha-3: rgba(255, 255, 255, 0.15);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gabarito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  background: var(--background);
  color: var(--foreground);
  user-select: none;
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  transition: all 250ms ease;
  font-size: 1rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

::placeholder {
  color: var(--foreground-secondary);
}

@media (max-width: 768px) {
  p {
    font-size: 1rem;
  }
}
