.icon-button {
  background-color: transparent;
  color: var(--foreground-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.icon-button:hover {
  color: var(--foreground);
}
