.icon-button {
  background-color: transparent;
  color: var(--foreground-secondary);
  width: 1.75rem;
  height: 1.75rem;
  outline: none;
  border: none;
}

.icon-button:hover {
  color: var(--foreground);
}
